VITE_SUPABASE_URL=https://ynfzqmxsxmmpcxwwldkg.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluZnpxbXhzeG1tcGN4d3dsZGtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNzI5NzMsImV4cCI6MjA5Mjc0ODk3M30.xHwdqzNuc28zYSBljyTCSLnnEI9oj4yqJ-4Hc8CER5s